{% extends 'base.html' %}
{% block content %}
<div class="ui four column doubling stackable grid container">
    <div class="ui card">
        <div class="image">
            <img src="{{city.photo_day}}">
        </div>
    </div>
    
    <div class="ui raised segment">
        <h1>{{city.name}}</h1>
        <h3>{{city.state}},&nbsp{{city.country}}</h3>
        <h4>population: {{city.population}}</h4>
        <form class="ui reply form" action="{% url 'add_post' city.id%}" method="POST">
          {%csrf_token%}
          <!-- {{post_form.as_p}} -->
          <!-- <div class="field">
            <textarea></textarea>
          </div> -->
          {%csrf_token%}
          {{post_form.as_p}}
          <input type="submit" class="btn" value="Add Comment">
        </form>
        </div>

{%for post in posts %}
<div class="ui comments">
  <div class="event">
    <div class="label">
      <img src="{{post.user.photo}}">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user" href="" >
            {{post.user}}
        </a>
        <div class="date">
          {{post.publish_date}}
        </div>
      </div>
      <div class="extra text">
        {{post.content}}
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}