{% extends 'base.html' %}
{% block content %}
<div class="ui four column doubling stackable grid container">
  
  <div class="ui raised segment">
    {{city.name}}
    {{city.state}},&nbsp{{city.country}}
    population: {{city.population}}
    <div class="ui card">
        <div class="image">
            <img src="{{city.photo_day}}">
          </div>
        </div>
    </div>

{%for post in posts %}
{% if post.city == city%}
<div class="ui comments">
  <div class="event">
    <div class="label">
      <img src="{{post.user.photo}}">
    </div>
    <div class="ui large feed">
      <div class="event">
          <div class="label">
              <img src="{{user.photo}}" alt="">
          </div>
          <div class="content">
              <div class="summary">
                  <a href="{% url 'profile' post.user.id %}" class="user" >
                      @{{ post.user }}
                  </a> 
                  <a href="{% url 'post' post.id %}">made a post about {{ post.city.name }}</a>
              </div>
              <div class="extra text">
                  {{ post.content }}
              </div>
              <div class="date">
                  {{ post.publish_date }}
              </div>
              <div class="meta">
                  <a class="like">
                  <i class="like icon"></i> 11 Likes
                  </a>
              </div>
          </div>
      </div>
      </div>
{% endif%}
{% endfor %}
{% endblock %}