{% extends 'base.html' %}
{% block content %}
<div class="ui four column doubling stackable grid container">
  
  <div class="ui raised segment">
    {{city.name}}
    {{city.state}},&nbsp{{city.country}}
    population: {{city.population}}
    <div class="ui card">
        <div class="image">
            <img src="{{city.photo_day}}">
          </div>
        </div>
    </div>

{%for post in posts %}
{% if post.city == city%}
<div class="ui comments">
  <div class="event">
    <div class="label">
      <img src="{{post.user.photo}}">
    </div>
    <div class="content"></div>
      <div class="summary">
        <a class="user" href="" >
            {{post.user}}
       
          {{post.publish_date}}
       
        {{post.content}}
      
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
{% endif%}
{% endfor %}
{% endblock %}