{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<!-- PAGE HEADING -->
<h1 class="section-title">EXPLORE CITIES</h1>




<!-- ALL CITIES INDEX -->
<div class="ui four column doubling stackable grid container">
    {%for city in cities%}
    <div class="column">
        <div class="ui card" style="z-index: 0">
            <div class="ui slide masked reveal image">
                <img src={{city.photo_day}} class="visible content square-img">
                <img src={{city.photo_night}} class="hidden content square-img">
            </div>
            <div class="content">
                <a class="header" href="{% url 'detail' city.id %}">{{city.name}}</a>
                <div class="meta">
                    <span>{{city.state}},</span>
                    <span>{{city.country}}</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="building outline icon"></i>
                    population: {{ city.population|intcomma }}
                </a>
            </div>
            <a href="{% url 'city_post_form' city.id %}" class="fluid ui red button">
                Make A Post About This City
            </a>
        </div>
    </div>
    {%endfor%}
</div>


{% endblock %}