{% extends 'base.html' %}
{% block content %}
{% comment %} <div class="ui container"> {% endcomment %}
    <div class="ui four column doubling stackable grid container">
    {%for city in cities%}
    <div class="column">
    <div class="ui card" style="z-index: 0">
        <div class="ui slide masked reveal image">
            <img src={{city.photo_day}} class="visible content">
            <img src={{city.photo_night}} class="hidden content">
        </div>
        <div class="content">
            <a class="header" href="{% url 'detail' city.id %}">{{city.name}}</a>
            <div class="meta">
                <span>{{city.state}},</span>
                <span>{{city.country}}</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="building outline icon"></i>
                population: {{city.population}}
            </a>
            <!--TODO make this go to the make a post page with the city auto filled in-->
            
        </div>
        <a href="{% url 'city_post' city.id %}" class="fluid ui teal button">
            Make A Post About This City
        </a>
    </div>
    </div>
    {%endfor%}
</div>
{% endblock %}


