{% extends 'base.html' %}
{% block content %}
<!-- <div class="ui container"> -->
    <div class="ui four column doubling stackable grid container">
    {%for city in cities%}
    <div class="column">
    <div class="ui card">
        <div class="ui slide masked reveal image">
            <img src={{city.photo_day}} class="visible content">
            <img src={{city.photo_night}} class="hidden content">
        </div>
        <div class="content">
            <a class="header" href="{% url 'detail' city.id %}">{{city.name}}</a>
            <div class="meta">
                <span>{{city.state}},</span>
                <span>{{city.country}}</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="building outline icon"></i>
                population: {{city.population}}
            </a>
        </div>
    </div>
    </div>
    {%endfor%}
</div>
{% endblock %}


