{% extends '../base.html' %}

{% block content %}
<div class="ui container" style="width: 25%; margin-top: 200px;">
    <div class="ui header">Login</div>
    <form class="ui form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="ui red button" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <br>
    <p>
        Don't have an account?
        <a href="">
            Register here.
        </a>
    </p>
</div>

{% endblock %}