{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{% static 'css/semantic/semantic.min.js' %}""></script>
    <title>Document</title>
</head>
<body>
    <div class="ui menu">
        <a class="item" style="font-size: 1.8rem;">The Wayfarer</a>
        <div class="right menu">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <div class="item">
                Welcome,&nbsp
                <a href="">{{ user.username }}</a>
            </div>
            <a class="item">About</a>
            <a class="item" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="item">About</a>
            <a class="item" id="login-link">Login</a>
            <a class="item" id="register-link">Register</a>
        {% endif %}
    </div>
    </div>
    <div class="ui secondary vertical pointing menu">
        <a href="{% url 'home' %}" class=
            {% if request.path == '/' %}
                "active item"
            {% else %}
                "item"
            {% endif %}>
            Home
        </a>
        <a href="{% url 'cities' %}" class=
            {% if request.path == '/cities/' %}
                "active item"
            {% else %}
                "item"
            {% endif %}>
            Cities
        </a>
        <a href="{% url 'profile' %}" class=
            {% if request.path == '/profile/' %}
                "active item"
            {% else %}
                "item"
            {% endif %}>
            Profile
        </a>
    </div>



    {% block content %}
    {% endblock %}


        <!--LOGIN MODAL-->
    <div class="ui tiny modal" id="login-modal">
        <div class="header">Login</div>
        <div class="content">
            <form class="ui form" action="/accounts/login/" method="POST">
                {% csrf_token %}
                {{ login_form.as_p }}
                <input type="submit" class="ui primary button" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <div class="actions">
            <div class="ui approve button">Approve</div>
            <div class="ui button">Neutral</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>


    <!--REGISTER MODAL-->
    <div class="ui tiny modal" id="register-modal">
        <div class="header">Register</div>
        <div class="content">
            <form class="ui form" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" class="ui primary button" value="Register">
            </form>
        </div>
        <div class="actions">
            <div class="ui approve button">Approve</div>
            <div class="ui button">Neutral</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>
    <script>
        $('#login-link').on('click', function() {
            $('#login-modal').modal('show');
        });
        $('#register-link').on('click', function() {
            $('#register-modal').modal('show');
        })
    </script>
</body>
</html>