{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/flickity@latest/dist/flickity.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>
    <script src="{% static 'css/semantic/semantic.min.js' %}"></script>

    <title>The Wayfarer</title>
</head>

<body>
    <div class=" ui secondary vertical fixed menu" id="sidebar">

        {% if user.is_authenticated and target_user != request.user %}
        <div class="profile-card">
            <a href="{% url 'profile' user.id %}">
                <img src="{{ user.profile.photo }}" class="ui tiny circular image" id="profile-img" alt="">
            </a>
            <p id="full-name">{{ user.first_name }} {{ user.last_name }}</p>
            <p id="user-name">@{{ user.username }}</p>
            <a href="{% url 'profile' user.id %}" class="ui labeled icon red button">
                <i class="user icon"></i>
                View Profile
            </a>
        </div>
        {% else %}
        <div class="sidebar-logo">
                The Wayfarer
        </div>
        {% endif %}


        <!-- SIDE BAR NAVIGATION START -->
        <div 
        {% if request.path == '/' %}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="home icon"></i>
            <a href="{% url 'home' %}" class="item">
                Home
            </a>
        </div>
        <div 
        {% if request.path == '/cities/'%}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="building outline icon"></i>
            <a href="{% url 'cities' %}" class="item">
                Cities
            </a>
        </div>
        <div 
        {% if request.path == '/posts/'%}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="newspaper outline icon"></i>
            <a href="{% url 'posts' %}" class="item">
                All Posts
            </a>
        </div>

        {% if user.is_authenticated %}
        <div class="ui divider"></div>

        <div class="nav-link">
            <i class="user outline icon"></i>
            <a href="{% url 'profile' user.id %}" class="item">
                My Profile
            </a>
        </div>
        <div 
        {% if request.path == '/posts/form'%}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="edit outline icon"></i>
            <a href="{% url 'form' %}" class="item">
                Create Post
            </a>
        </div>
        <div 
        {% if request.path == '/settings/'%}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="cog icon"></i>
            <a href="{% url 'settings' %}" class="item">
                Settings
            </a>
        </div>
        {% endif %}

        <div class="ui divider"></div>

        <div 
        {% if request.path == '/about/'%}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="book icon"></i>
            <a href="" class="item">
                About
            </a>
        </div>
        <div 
        {% if request.path == '/contact/'%}
        class="nav-link activated"
        {% else %}
        class="nav-link"
        {% endif %}
        >
            <i class="envelope outline icon"></i>
            <a href="" class="item">
                Contact
            </a>
        </div>
    </div>




    <!-- Nav Bar -->
    <div class="ui secondary fixed menu" id="topbar">
        {% if user.is_authenticated and target_user != request.user %}
        <div class="logo">
                The Wayfarer
        </div>
        {% endif %}
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <div class="right menu">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' user.id %}" class="ui item">
                <!-- First name goes here -->
                Welcome, {{user.first_name}}
            </a>
            <a href="{% url 'logout' %}" class="ui item">
                Logout
            </a>
            <a href="{% url 'settings' %}" class="ui item">
                <i class="cog icon"></i>
            </a>
            {% else %}
            <a class="ui item" id="login-link">Login</a>
            <a class="ui item" id="register-link">Register</a>
            {% endif %}
        </div>
    </div>




    <!-- Main Content -->
    <div class="main-body">
        {% block content %}

        {% endblock %}
    </div>




    <!--LOGIN MODAL-->
    <div class=" ui tiny modal" id="login-modal">
        <div class="header">Login</div>
        <div class="content">
            <form class="ui form" action="/accounts/login/" method="POST">
                {% csrf_token %}
                {{ login_form.as_p }}
                <input type="submit" class="ui primary button" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>


    <!--REGISTER MODAL-->
    <div class="ui tiny modal" id="register-modal">
        <div class="header">Register</div>
        <div class="content">
            <form class="ui form" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" class="ui primary button" value="Register">
            </form>
        </div>

    </div>



    <script>
        $('#login-link').on('click', function () {
            $('#login-modal').modal('show');
        });

        $('#register-link').on('click', function () {
            $('#register-modal').modal('show');
        });

        $('#new-city-link').on('click', function () {
            $('#new-city-modal').modal('show');
        });


        $('.carousel').flickity();
        var myCarousel = new Flickity('.carousel', {
            accessibility: true,
            adaptiveHeight: false,
            autoPlay: 1000,
            wrapAround: false,
            contain: true
        });
    </script>
</body>

</html>