{% extends 'base.html' %}
{% load static %}

{% block content %}
{% comment %} TODO replace this with a for loop and a new database model for coverphotos {% endcomment %}
<div class="carousel" data-flickety={}>
    <div class="carousel-cell">
        <img src="{% static 'images/hongkong.jpg' %}" class="slide" alt="">
        {% comment %} <h1>Hong Kong</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/prague.jpg' %}" class="slide" alt="">
        {% comment %} <h1>Prague, Czech Republic</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/regensburg.jpg' %}" class="slide" alt="">
        {% comment %} <h1>Regensburg, Germany</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/london.jpg' %}" class="slide" alt="">
        {% comment %} <h1>London, United Kingdom</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/cape-town.jpg' %}" class="slide" alt="">
        {% comment %} <h1>London, United Kingdom</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/machu-pichu.jpg' %}" class="slide" alt="">
        {% comment %} <h1>London, United Kingdom</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/montreal.jpg' %}" class="slide" alt="">
        {% comment %} <h1>London, United Kingdom</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/tokyo.jpg' %}" class="slide" alt="">
        {% comment %} <h1>London, United Kingdom</h1> {% endcomment %}
    </div>
    <div class="carousel-cell">
        <img src="{% static 'images/vienna.jpg' %}" class="slide" alt="">
        {% comment %} <h1>London, United Kingdom</h1> {% endcomment %}
    </div>
</div>

<div class="section-heading">
    <p>Recent Posts
        <!--TODO connect this link to the all posts page-->
        <a href="{% url 'posts' %}" class="ui item" id="show-more">
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Show More...
        </a>
    </p>
</div>

<div class="ui items">
    {% for post in all_posts %}
    <div class="item">
        <div class="image">
            <img src="{{ post.city.photo_night }}">
        </div>
        <div class="content">
            <a href="{% url 'post' post.id %}" class="header">{{ post.title }}</a>
            <div class="meta">
                <span>
                    <!-- TODO link this to users public profile. -->
                    <a href="{% url 'profile' post.user.id %}">
                        {{ post.user.first_name }} {{ post.user.last_name }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{% url 'detail' post.city.id %}">
                        {{ post.city }}
                    </a>
                    &nbsp;|&nbsp;{{ post.publish_date }}
                </span>
            </div>
            <div class="description">
                <p>{{ post.content }}</p>
            </div>
            <div class="extra">
                <a href="{% url 'post' post.id %}">Read More...</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% endfor %}
</div>
{% endblock %}