body {
    background-color: #ddd;
}

.ui.secondary.vertical.menu .nav-link {
    margin-top: 20px;
}

.ui.secondary.vertical.menu i {
    padding-left: 25px;
    padding-right: 20px;
}

.ui.secondary.vertical.menu a {
    display: inline;
}

.ui.secondary.vertical.menu .ui.divider {
    margin-top: 20px;
    margin-bottom: 20px;
}







.ui.vertical.fluid.tabular.menu {
    height: 100vh;
}

#home-page {
    /* border: 1px solid black; */
    width: 100%;
    margin-left: 10px;
}

.custom-container {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}