{% extends './profile_base.html' %}
{% block content %}
<div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    <a class="item" data-tab="my_profile">
                        My Profile
                    </a>
                    <a class="item" data-tab="create_post">
                        Create Post
                    </a>
                    <a class="item" data-tab="my_posts">
                        My Posts
                    </a>
                    <a class="item" data-tab="my_activity">
                        My Activity
                    </a>
                    <a class="item" data-tab="my_settings">
                        My Settings
                    </a>
                </div>
            </div>
            <div class="ui tab" data-tab="my_profile">
                <div class="twelve wide stretched column">
                    <h2>My Profile</h2>
                    <ul>
                        <li>First Name: {{ user.first_name }}</li>
                        <li>Last Name: {{ user.last_name }}</li>
                        <li>Username: {{ user.username }}</li>
                        <li>Profile Photo: {{ user.photo }} </li>
                        <li>Email: {{ user.email }}</li>
                        <li>Hometown: {{ user.profile.hometown }}</li>
                        <li>Password: <a href="">Change Password</a></li>
                    </ul>
                </div>
            </div>
            <div class="ui tab" data-tab="create_post">
                <div class="twelve wide stretched column">
                    <h2>Create Post</h2>
                </div>
            </div>
            <div class="ui tab" data-tab="my_posts">
                <div class="twelve wide stretched column">
                    <h2>My Posts</h2>
                </div>
            </div>
            <div class="ui tab" data-tab="my_activity">
                <div class="twelve wide stretched column">
                    <h2>My Activity</h2>
                </div>
            </div>
            <div class="ui tab" data-tab="my_settings">
                <div class="twelve wide stretched column">
                    <h2>My Settings</h2>
                    <form class="ui form" action="{% url 'profile' %}" method="POST">
                        <div class="field">
                            {% csrf_token %}
                            
                            {{ update_form.as_p }}
                        </div>
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}