{% extends '../base.html' %}
{% comment %} populate this template with current users data. {% endcomment %}

{% block content %}
<div class="public-profile">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <img class="ui small circular image" id="profile-img" src="{{ user_profile.photo }}" alt="">
                <div class="header" id="profile-header">
                    {{ target_user.first_name }}'s Profile
                </div>
                <div class="meta">
                    <span>
                        {{ target_user.first_name }} {{ user.last_name }}&nbsp;|
                    </span>
                    <span style="font-style: italic;">
                        Member since {{ user_profile.date_joined }}
                    </span>
                </div>
                <div class="description">
                    <p><strong>Hometown:</strong> {{ user_profile.hometown }}</p>
                </div>
                <br>
                <br>
                <br>
                <div class="header">
                    Recent Posts
                </div>

                <div class="ui relaxed divided list">
                {% for post in user_posts  %}
                    <div class="item">
                        <i class="plane icon"></i>
                        <div class="content">
                            <a href="{% url 'post' post.id %}" class="header">
                                {{ post.title }}
                            </a>
                            <div class="description">
                                {{ post.city }} | {{ post.publish_date }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}