{% extends './profile_base.html' %}
{% block content %}
<div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    <a class="item" data-tab="my_profile">
                        My Profile
                    </a>
                    <a class="item" data-tab="create_post">
                        Create Post
                    </a>
                    <a class="item" data-tab="my_posts">
                        My Posts
                    </a>
                    <a class="item" data-tab="my_activity">
                        My Activity
                    </a>
                    <a class="item" data-tab="my_settings">
                        My Settings
                    </a>
                </div>
            </div>
            <div class="ui tab" data-tab="my_profile">
                <div class="twelve wide stretched column">
                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <h2>{{user.username}}'s Profile</h2>
                            <img class="ui medium circular image" src="{{ user.profile.photo }}">
                        </div>
                        <div class="ui segment">
                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                            <li>Username: {{ user.username }}</li>
                            <li>Hometown: {{ user.profile.hometown }}</li>
                            <li>Joined Wayfarer on {{ user.profile.date_joined }}</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="create_post">
                <div class="twelve wide stretched column">
                    <h2>Create Post</h2>
                </div>
            </div>
            <div class="ui tab" data-tab="my_posts">
                <div class="twelve wide stretched column">
                    <h2>My Posts</h2>
                </div>
            </div>
            <div class="ui tab" data-tab="my_activity">
                <div class="twelve wide stretched column">
                    <h2>My Activity</h2>
                </div>
            </div>
            <div class="ui tab" data-tab="my_settings">
                <div class="twelve wide stretched column">
                    <h2>My Settings</h2>
                    <form class="ui form" action="{% url 'profile' %}" method="POST">
                        <div class="field">
                            {% csrf_token %}
                            {{ updateU_form.as_p }}
                            {{ updateP_form.as_p }}
                        </div>
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $('.tabular.menu .item').tab();
        </script>
{% endblock %}