{% extends '../base.html' %}
{% comment %} populate this template with current users data. {% endcomment %}

{% block content %}
<h1>{{ user.first_name }}'s Profile</h1>
<img class="ui tiny circular image" src="{{ user_profile.photo }}" alt="">
    <h2>Hometown: {{ user_profile.hometown }}</h2>
    <h2>Date Joined: {{ user_profile.date_joined }}</h2>
    <ul>
    {% for post in user_posts %}
        <li>
            <a href="{% url 'post' post.id %}">
                    {{ post.title }}
            </a>
        </li>
    {% endfor %}

{% endblock %}