{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{% static 'css/semantic/semantic.min.js' %}""></script>
    <title>Document</title>
</head>
<body>
    <div class="ui menu">
        <a class="item" style="font-size: 1.8rem;">The Wayfarer</a>
        <div class="right menu">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <div class="item">
                    Welcome,&nbsp
                    <a href="">{{ user.username }}</a>
                </div>
                <a class="item">About</a>
                <a class="item" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="item">About</a>
                <a class="item" id="login-link">Login</a>
                <a class="item" id="register-link">Register</a>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script>
        $('.tabular.menu .item').tab();
    </script>
</body>
</html>