{% extends 'base.html' %}
{% block content %}

<div class="ui container">
	<h2>Create A Post</h2>
	<form class="ui form" action="{% url 'add_post'%}" method="POST">
		{%csrf_token%}
		<label for="city">City</label>
		{{post_form.city}}
		<p>Don't see your city? Add one!</p>
		<button class="ui mini primary button" id="new-city-link">Add A City</button>
		<br>
		<br>
		<label for="title">Title your post here</label>
		{{post_form.title}}
		<label for="content">Write your post here</label>
		{{post_form.content}}
		<input type="submit" class="btn" value="Add Post">
	</form>
</div>


<!-- New City Modal -->
<div class=" ui tiny modal" id="new-city-modal">
	<div class="header">Login</div>
	<div class="content">
		<form class="ui form" action="{% url 'add_city' %}" method="POST">
			{% csrf_token %}
			{{ city_form.as_p }}
			<input type="submit" class="ui primary button" value="Add City">
		</form>
	</div>
</div>
{% endblock %}