{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="post-page">
    <p class="post-title">{{ post.title }}</p>
    <p class="post-author">
        Written by
        <a href="{% url 'profile' post.user.id %}">
            {{ post.user.first_name }} {{ post.user.last_name }}
        </a>
    </p>
    <p class="post-country">
        <a href="{% url 'detail' post.city.id %}">
            {{ post.city }}, {{ post.city.state }}, {{ post.city.country }}
        </a>
    </p>
    <p class="post-content">
        {{ post.content }}
    </p>
    <p class="post-date">
        {{ post.publish_date }}
    </p>
</div>



<!-- <div class="ui large feed">
    <div class="event">
        <div class="label">
            <img src="{% static 'images/default.png' %}" alt="">
        </div>
        <div class="content">
            <div class="summary">
                <a href="{% url 'profile' post.user.id %}" class="user">
                    @{{ post.user }}
                </a>
                made a post about {{ post.city.name }}</a>
            </div>
            <div class="extra text">
                {{ post.content }}
            </div>
            <div class="date">
                {{ post.publish_date }}
            </div>
            <div class="meta">
                <a class="like">
                    <i class="like icon"></i> 11 Likes
                </a>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}